.input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error-msg {
  position: absolute;
  top: 50%;
  right: 1%;
  color: rgb(255 0 0 / 0.47);
}
