@if (post$ | async; as posts) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 p-5">
    @for (post of posts; track post.id) {
      <div (click)="showDetails(post.id)" class="bg-white rounded-xl p-5 shadow-md hover:shadow-lg transition-all hover:-translate-y-0.5 cursor-pointer">
        <h3 class="text-lg font-semibold text-gray-800 mb-3 line-clamp-2">
          {{ post.title }}
        </h3>
        <p class="text-gray-600 text-sm leading-relaxed line-clamp-4">
          {{ post.body }}
        </p>
      </div>
    }
  </div>
}
@if (showModal) {
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 min-w-75 shadow-xl">
      @if (isLoading()) {
        <p>Загрузка...</p>
      } @else if (selectedPost) {
        <h3 class="text-xl font-semibold mb-3">{{selectedPost.title}}</h3>
        <p class="text-gray-600 mb-4">{{selectedPost.body}}</p>
      } @else {
        <p>Выберите пост</p>
      }
      <button
        (click)="showModal = false"
        class="bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition"
      >
        Закрыть
      </button>
    </div>
  </div>
}
